body {
    margin: 0;
    background: #e0e0e0;
    font-family: 'roboto condensed', sans-serif;
}

hr {
    border: none;
    border-bottom: 1px solid #808080;
    margin: 0;
}

#left-column {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #cccccc;
    border-right: 1px solid #808080;
    text-align: center;
    padding-bottom: 60px;
}

#lc-title{
  height: 80px;
}

#lc-list-header {
  height: 20px;
    background: #a6a6a6;
    border-bottom: 1px solid #808080;
    text-align: left;
    padding: 4px 20px;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#lc-scroll {
    height: 100%;
    overflow-y: auto;
    text-align: left;
}

#lc-title {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #262626;
    padding: 15px;
}

#lc-list {
    display: block;
    width: 300px;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

#lc-list:hover {
    background: #d9d9d9;
}

#content {
    margin-left: 300px;
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 30px;
    background: #f2f2f2;
    font-family: 'roboto', sans-serif;
}

#footer {
    margin-left: 300px;
}

#generated-by {
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
    font-family: 'roboto condensed', sans-serif;
    color: #1a1a1a;
}

#generated-by-link {
    font-weight: 600;
    text-decoration: none;
    color: #1a1a1a;
}

#generated-by-link:hover {
    color: #404040;
}
